.Write {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: "GmarketSansLight";
}

button {
  margin: 0px 5px;
  float: right;
}

.wr_title {
  margin-bottom: 30px;
  font-family: "GmarketSansMedium";
  border-bottom: 3px solid indianred;
  height: 60px;
  text-align: center;
}

#content {
  height: 200px;
}

@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
